<ion-header [translucent]="true">
<ion-toolbar mode="ios" color="dark">

    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Adicionar Produtos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img [src]="imagem" ></ion-img>
  <form [formGroup]="form" (submit)="cadastroButton()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Produto:</ion-label>
        <ion-input  fill="solid"  type="text" formControlName="item"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Quantidade:</ion-label>
        <ion-input fill="solid"  type="text" formControlName="quant"></ion-input>
      </ion-item>
      
    </ion-list>

    <ion-button expand="full" class="btn btn-primary mt-3" type="submit" color="success" [disabled]="form.invalid" >{{ nameButton }}</ion-button>
    
  </form>
 </ion-content>
